<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-grid.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-grid.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-reboot.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-reboot.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css.map')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-grid.min.css.map')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-reboot.min.css.map')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css.map')}}">
    <title>Document</title>
</head>
<body>
    <h1>REGISTRATION PAGE</h1>
    <a href="{{url_for('login')}}"><button type="button" class="btn btn-outline-primary">ALREADY HAVE AN ACCOUNT ? , LOGIN HERE </button></a>
</body>
</html>